{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'css/style.css' %}"> 
    <script src = "{% static 'js/script.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <div class = "page">
        <header>
            <nav>
                <span class = "logo">WebFlix</span>
                <ul>
                    <li><a href = "#">Home</a></li>
                    <li><a href = "#">About Us</a></li>
                    <li><a href = "#">My List</a></li>
                </ul>
            </nav>
            <section class = "hero"></section>
        </header>
        <main></main>
        <footer></footer>
    </div>
</body>
</html>