*{
    box-sizing : border-box;
    /* transition: all .4s; */
}

:root{
    --font-family : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --light-text-clr : rgba(255,255,255,.95);    
    --icons-clr : rgba(255,255,255,.8);
    --carousel-btn-clr : rgba(255,255,255,.7);
    --carousel-text-clr : rgba(255,255,255,.6)
}

body {
    margin : 0;
    padding : 0;
    font-family: var(--font-family);
    color : white;
}

ul{
    padding : 0;
    list-style: none;
    margin : 0;
    /* justify-content: center; */
}

a{
    color : var(--light-text-clr);
    text-decoration: none;
    display : inline-block;
}

img{
    display : block;
    max-width : 100%;
}


.loader-container {
    position : fixed;
    z-index : 999;
    inset : 0;
    background-color : rgba(0,0,0,.8);
    background-image: url("/static/img/poster_carousel.jpg");
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
    background-blend-mode: darken;
    display : grid;
    place-items : center;
    width : 100vw;
    height : 100vh;
    transition : opacity .6s ease-in-out, visibility .6s ease-in-out;
}

/* .loader{
    width : 60px;
    height : 60px;
    background-color: transparent;
    border : 7px solid transparent;
    border-top-color : red;
    border-bottom-color : red;
    border-radius : 50%;
    /* animation : loadingAnim .8s ease-in-out infinite alternate; 
} */

.loader-container svg{
    max-width : 600px;
    width : 90%;
    margin : auto;
}

.loader-container svg text {
    font-size : 6rem;
    stroke-width : 2;

}

.loader-container svg text.text-body{
    stroke : rgba(255, 0, 0, 0.8);
    animation : loadingAnim 4s ease-in-out infinite alternate;
}

@keyframes loadingAnim{
    0%{
        fill : transparent;
        stroke : rgba(255, 0, 0, 0.8);
        stroke-width : 3;
        stroke-dashoffset: 25%;
        stroke-dasharray : 0 32%;
    }

    50%{
        fill : transparent;
        stroke : rgba(255, 0, 0, 0.8);
        stroke-width : 3;
    }

    80%, 100%{
        fill : rgba(255, 0, 0, 0.8);
        stroke : transparent;
        stroke-width : 0;
        stroke-dashoffset : -25%;
        stroke-dasharray : 32% 0;
    }
}

.loader-container.hidden{
    opacity: 0;
    visibility : hidden;
}

.page{
    width : 100%;
    height: 100vh;
    overflow-y : hidden;
    opacity : 0;
    transform : translate3d(0, 1rem, 0);
    transition : opacity .6s ease-in-out, transform .6s ease-in-out;
}

.page.visible{
    opacity : 1;
    transform : translate3d(0,0,0)
}

.container{
    width : 100%;
    max-width : 1200px;
    margin : auto;
    position : relative;
}

nav{
    background-color : black;
    position : fixed;
    top: 0;
    left : 0;
    width : 100%;

}

nav .container{
    max-width : 1300px;
}

.nav-wrapper{
    display : flex;
    align-items : center;
    /* justify-content: space-between; */
    padding : 15px 10px;
}

.logo{
    color: #d00303;
    font-size: 19px;
}

.index-links-container{
    display : flex;
    align-items: center;
    gap : 45px;
    margin: 0px 0px 0px 200px;
}

.index-links,
.mobile-link{
    position : relative;
}
.mobile-link::after,
.index-links::after{
    content : '';
    position : absolute;
    left : 0;
    bottom : -6px;
    width : 0%;
    height : 2px;
    background-color: var(--light-text-clr);
    border-radius : 10px;
    transition : width .5s ease-in-out;

}

.index-links:hover::after,
.mobile-link:hover::after{
    width : 100%;
}

.icons{
    display : flex;
    align-items: center;
    gap : .5rem;
    margin-left : auto;
}

.search-icon{
    filter : contrast(0);
    cursor : pointer;
    height : 23px;
}

.hamburger{
    width : 40px;
    height : 30px;
    flex-direction: column;
    align-items: center;
    justify-content : center;
    gap : 5px;
    position : relative;
    isolation: isolate;
    cursor : pointer;
    display : none;
}

.hamburger::after{
    content : '';
    position : absolute;
    inset : 0;
    background-color : white;
    transform : scaleY(0);
    transition : transform .5s ease-in-out;
    transform-origin : bottom;
    z-index : -1;
}

.hamburger:hover::after{
    transform : scaleY(1)
}

.hamburger > span{
    width : 24px;
    height : 2px;
    background : #86869e;
    border-radius : 10px;
}


/* .close{
    border: 3px solid blue
} */

.hamburger.close > span:nth-child(2){
    display: none;
}

.hamburger.close > span:nth-child(1){
    /* transform : rotate(45deg) translate(0px, 2px) */
    transform : rotate(45deg) translate(2px, 2px)
}

.hamburger.close > span:nth-child(3){
    /* transform : rotate(-45deg) translate(4px, -6px) */
    transform : rotate(-45deg) translate(3px, -3px)
}

.mobile-menu{
    display : block;
    background-color: #333;
    max-height : 0;
    padding: 0px;
    overflow-y: hidden;
    position: absolute;
    width: 100%;
    z-index: 90;
    visibility : hidden;
    transition: max-height .5s, padding .5s;
    /* border-top : 1px solid rgba(255,255,255,.1);
    border-bottom : 1px solid rgba(255,255,255,.2); */
}

.mobile-links-container{
    display : flex;
    flex-direction: column;
    align-items: center;
    gap : 30px;
    color : var(--light-text-clr);

}

.open{
    max-height : 400px;
    padding : 15px 0;
    visibility: visible;
    /* overflow-y: auto; */
}

.main-section{
    /* height : calc(100vh - 53px); */
    width : 100%;
    background-color : #171717;
    overflow-y: hidden;
    padding-top : 56px;
}

.main-section-grid{
    display : grid;
    grid-template-columns: 10% 90%;
    height : 100%;
}

.left-side-bar{
    background-color : #212227;
    width : 10%;
    min-width : 90px;
    overflow: hidden;
    position : fixed;
    left : 0;
    height : 100vh;
    z-index : 9999;
    grid-column : 1/2;
    transition : width .3s, min-width .3s;
}   

/* .left-side-bar > *{
    padding : 0px 10px;
} */

.left-side-bar.side-open{
    min-width : 200px;
    overflow: hidden;
}

/* .left-side-bar.side-open > *{
    padding : 0px 0px 0px 40px;
} */

.menu-icon {
    display : flex;
    gap : 0px;
    justify-content : center;
    align-items: center;
    margin-top : 10px;
    padding : 20px 10px 0px 5px;
    transition : width .5s ease
}

.menu-toggle{
    width : 30px;
    height : 30px;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content : center;
    gap : 5px;
    /* position : relative;
    isolation: isolate; */
    cursor : pointer;
}

.menu-toggle > span{
    width : 24px;
    height : 2px;
    background : #86869e;
    border-radius : 10px;
}

.menu-icon-text{
    width : 0;
    opacity : 0;
    margin : 0;
}

.left-side-bar.side-open .menu-icon{
    justify-content: flex-start;
    gap : 10px;
    padding : 20px 20px 0
}

.left-side-bar.side-open .menu-icon-text{
    width : auto;
    opacity : 1;
}

.menu{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.menu-item{
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 0px;
    width : 100%;
    height : 100%;
    padding: 20px 10px 20px;
    position : relative; 
    cursor : pointer;
    transition : background-color .5s;
}

.left-side-bar.side-open .menu-item{
    justify-content: flex-start;
    gap : 10px;
    padding : 20px;
}

.menu-item:hover{
    background-color: #171717;
}

.menu-item::after{
    content : "";
    display : none;
    position : absolute;
    left : 0;
    top : 70%;
    transform : translateY(-50%);
    height : 40px;
    width : 5px;
    background-color :red;
    border-radius : 5px;
    opacity : 0;
    transition : opacity .4s, top .4s;
}

.left-side-bar.side-open .menu-item::after{
    display : block;
}

.menu-item:hover::after{
    top : 50%;
    opacity : 1;
}

/* .menu-item:hover{
    border-left : 1px solid red;
} */

.menu-item svg,
.menu-item svg g{
    fill : var(--icons-clr);
    min-width : 20px;
}

.menu-item svg path{
    stroke : var(--icons-clr);
}

.menu-item p{
    margin : 0;
    color : var(--icons-clr);
    visibility : hidden; 
    width : 0;
    font-size: clamp(.7rem, 2.5vw, 1rem);
    transition : width .5s
}

.left-side-bar.side-open .menu-item p{
    visibility : visible; 
    width : auto;
}

.main-feed{
    overflow-y: auto;
    padding-bottom: 100px;
    /* width : 90%; */
    grid-column : 2 / 4;
}

.carousel-wrapper{
    width : 100%;
    height : 300px;
    background-color : #f2f2f2;
}

.carousel-container{
    position : relative;
}

.slide-btn{
    padding : 20px;
    border-radius : 50%;
    background : var(--carousel-btn-clr);
    border : none;
    outline : none;
    position : absolute;
    top : 50%;
    transform : translateY(-50%);
    cursor : pointer;
    transition : transform .5s;
    z-index : 2;

}



.slide-btn img{
    height : 20px;
}

.prev-btn{
    left : 0px;
    margin-left : 10px;
}

.prev-btn img{
    transform : rotate(180deg)
}

.next-btn{
    right : 0px;
    margin-right : 10px;
}

.pagination {
    display : flex;
    align-items : center;
    justify-content: center;
    gap : 20px;
    flex-wrap: nowrap;
    position : absolute;
    left : 50%;
    bottom : 20px;
    z-index : 2;
    transform : translateX(-50%);

    /* margin-bottom : 30px; */
}

.dot{
    border : none;
    outline : none;
    padding : 10px;
    border-radius : 50%;
    cursor : pointer;
    background : white;
    transition : transform .5s;
    /* margin-left : 30px; */
}

.prev-btn:active,
.next-btn:active{
    transform : translateY(-50%) scale(.8)
}

.movie-text{
    margin: 0;
    position: absolute;
    left: 100px;
    top: 40px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 600;
    max-width: 300px;
    z-index: 2;
    text-transform: capitalize;

}

.movie-text-reveal{
    animation : fade 1s ;
}

.description{
    position: absolute;
    left: 100px;
    top: 50%;
    margin: 0;
    max-width: 400px;
    z-index: 2;
    color: var(--carousel-btn-clr);
    font-size: 15px;
    line-height: 1.6;
    transform: translateY(-50%);
}

.watch-btn{
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #ff000094;
    color: rgba(255,255,255,.9);
    font-size: 15px;
    letter-spacing: 1px;
}

.carousel-container .watch-btn{
    position: absolute;
    bottom: 40px;
    left: 100px;
    z-index: 2;
}


@keyframes fade {
    0%{
        opacity : 0
    }
    100%{
        opacity : 1
    }
}


.dot:active{
    transform : scale(.8)
}

.active-dot{
    background : red;
}

.carousel{
    display : flex;
    align-items: center;
    overflow-x : hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar{
    visibility: hidden;
}

.img-div{
    flex: 1 0 100%;
    height: 300px;
    background-image: linear-gradient(transparent, rgba(0,0,0,.8));
    position : relative;
    z-index : 1;
}

.img-div::after{
    content : '';
    position : absolute;
    inset : 0;
    width : 100%;
    height : 100%;
    background : linear-gradient(transparent, #171717);
    z-index : 0;
}

.img-div img{
    object-position: 50% 30%;
    object-fit: cover;
    scroll-snap-align: start;
    height : 100%;
    width : 100%;
}

/* movies section styling */

.movies-section h2{
    padding : 0px 0px 0px 20px;
}

/* .right-side-bar{
    background-color : #212227;
}

.right-side-bar > *{
    padding-left : 40px;
} */

.video-card-container{
    /* margin-left : 20px; */
    display : flex;
    gap : 20px;
    align-items: center;
    overflow-x : auto;
    scroll-behavior: smooth;
    user-select: none;
    padding: 10px 20px 20px;
    /* margin-bottom: 60px; */
}

.video-link{
    flex : 1 0 calc((100%/ 4) - 15px);
    position : relative;
    overflow: hidden;
    transition : transform .3s;
    border-radius : 10px;
}

.video-link:hover{
    transform : scale(1.05)
}



.video-card{
    width : 100%;
    height : 200px;
    border-radius : 10px;
    object-fit: cover;
    object-position: 30% 30%;
    opacity : 0.7;
    user-select: none;
    overflow: hidden;
}

.video-description{
    position : absolute;
    top: 100%;
    left : 0;
    right : 0;
    bottom : 0;
    padding : 10px;
    background: rgba(0,0,0,.6);
    transition : top .5s;
}

.video-description h3{
    margin-top : 0;
    color : rgba(255, 0, 0, 0.877);
}

.video-link:hover .video-description{
    top : 0;
}



.cta{
    display : flex;
    align-items: center;
    justify-content: space-between;
}

.details{
    margin-top : 20px;
    width : 38%;
}

.details p{
    margin : 10px 0 0;
}


.cta .watch-btn{
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 0px;
    width: 38%;
    text-align: center;
    align-self: end;
    max-width: 100px;
}

@media(max-width : 900px){
    .index-links-container{
        display : none;
    }

    .hamburger{
        display : flex;
    }

    .main-feed {
        width : 100%;
    }

    .left-side-bar{
        position : fixed;
        bottom : 0;
        width : 100%;
        display : flex;
        align-items : center;
        justify-content: space-between;
        z-index : 999;
        height : 80px;
    }

    .menu-icon{
        display : none;
    }

    .menu{
        width : 100%;
        flex-direction: row;
        height : 100%;
        margin-top: 0;
    }

    .menu-item{
        flex-direction : column;
        gap : 10px;
        padding : 0px 10px;
        width: 25%;
    }

    .menu-item p{
        width : auto;
        visibility: visible;
        
    }

    .slide-btn{
        padding: 15px;
    }

    /* .video-link{
        flex : 1 0 100%;
    } */

}

@media(max-width : 700px){
    .video-link{
        flex : 1 0 calc((100%/2) - 10px) ;
    }

    
    .movie-text{
        top : unset;
        bottom : 50px;
        left : 30px;
    }
    
    .description{
        display : none;
    }

    .dot{
        padding : 8px;
    }

    .carousel-container .watch-btn{
        display : none;
    }

}

@media(max-width : 500px){
    .video-link{
        flex : 1 0 100%;
    }
}




